@font-face {
    font-family: "Josefin";   /*Can be any text*/
    src: local("JosefinSans-Regular"),
      url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  }

.container-c{
      /* We first create a flex layout context */
  display: flex;
  

  flex-flow: row wrap;
  align-items: center;
  vertical-align: center;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.margin-50{
    margin-top: 50px;
}

.margin-right{
    margin-right: 5px;
}

.container-y{
    width: 45%;
    padding: 50px !important; 
    border: 1px solid #475E1B;
    
}

.container-stats{
    padding : 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    border-radius:15px
}


.img-order{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-products{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.button-green{
    padding : 10px;
    background-color: #475E1B;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.button-green:hover{
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    color:#475E1B
}

.padding-right{
    padding-right: 15px;
}

.background-white{
    background-color: #FFFDFA;
}

.text-menu{
    color: #475E1B
}

.li-menu  a:link, a:visited{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 0px;
    background-color: #5CB85C;
    border: 1px solid white;
    border-radius: 15px;
    height: 30px;
    text-decoration: none !important;
    font-size: 13px;
}

a:link, a:visited, a:hover{
    text-decoration: none !important;
    color:#475E1B
}

.li-menu:hover{
    background-color: white;
    color: #5CB85C !important;
    text-decoration: none !important;
    border-radius: 15px;
}

.menu{
    height: 100px;
    padding:10px;
}

.link :link :visited :hover {
    text-decoration: none;
}
.form-login{
    background-color: rgba(255, 255, 255, 0.762);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    padding: 20px;
    height: 60vh;
    width: 20%;
    border-radius: 20px;
    margin-top: 150px;
    border:none
}

.connexion-title{
    height: 100vh;
    width: 50% !important; 
    background : url(https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmVnZXRhYmxlc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60)
}

.page{
    height: 100vh;
    background : url(https://images.unsplash.com/photo-1566385101042-1a0aa0c1268c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    object-fit: cover;
    background-size: cover;

}
.login-form-container{
    justify-content: center;
    align-items: center;
    vertical-align:middle;
}

.input-form{
    border-radius: 10px;
    border: 1px solid #5CB85C;
    margin-bottom: 10px
}

.row-products{
    justify-content: center;
}

center{
    justify-content: center;
}

.title-home-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.title-home-content{
    font-family: Josefin;
    color:#475E1B;
    margin-right: 15px
}

.margin-left{
    margin-left : 90px;
}

.product-title{
    font-family: Josefin;
}

.margin-left-4000{
    margin-right: 4000 !important;
}


.modal-body{
    background-color: #bac100;
    padding :10px;
    color:white
}

.modal-header{
    background-color: #475E1B;
    color:white;
    font-family: Josefin;
}

.button-modal{
    background-color: #475E1B;
    font-family: Josefin;
    border-radius: 15px;
    color:white;
}

.modal-title{
    margin-top: 10px;
}

.button-delete{
    background-color: #DB2323 !important;
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0px;
    padding:10px;
    color:white;
    transition: all 0.5s ease;
}

.button-delete:hover{
    background-color: #681d1d !important;

}

.button-not-admin{
    background-color: #475E1B;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0px;
    padding:10px;
    color:white;
    transition: all 0.5s ease;
}

.button-not-admin:hover{
    background-color: #5CB85C;
}

.button-admin{
        background-color: #5CB85C;
        border-radius: 15px !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 0px;
        padding:10px;
        color:white;
        transition: all 0.5s ease; 
}

.button-admin:hover{
    background-color: #475E1B;
}